.vscode/**
.vscode-test/**
src/**
out/**
node_modules/**
!node_modules/.pnpm
.gitignore
.eslintrc.js
.prettierrc
tsconfig.json
esbuild.js
**/*.map
**/*.ts
docs/**
PLAN.md
DEVLOG.md
*.md
!README.md
!CHANGELOG.md
!LICENSE